/* You can add custom styles here. */
// @import "plugins/_numbered.scss";
@import "plugins/_scrollbars.scss";
p {
    text-align: justify;
    hyphens: auto;
}

figure, figcaption>p {
    text-align: center;
}

.highlight code{
    font-size: 0.75em;
    text-wrap: wrap;
}